/* Layout */
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-header {
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
}
.page-header .navbar {
    height: 100%;
}
.page-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
    padding-top: 60px;
    transition: padding 0.25s ease;
}
.page-container {
    padding: 20px;
}
.sidenav {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    min-width: 0px;
    width: 225px;
    height: 100vh !important;
    overflow: hidden;
    z-index: 1038;
    flex-basis: 225px;
    flex-shrink: 0;
    white-space: nowrap;
    transition: width 0.15s ease-in-out !important;
}

@media (max-width: 991px) {
    .padding-body {
        padding-left: 0;
    }
    .sidenav {
        display: block;
    }
    .sidenav.collapsing {
        display: block;
        width: 0;
    }
    .sidenav.collapse:not(.show) {
        display: none;
    }
}
@media (min-width: 992px) {
    .page-body {
        padding-left: 225px;
    }
    .sidenav {
        display: block;
        flex-basis: auto;
    }
    .sidenav.collapse:not(.show) {
        display: block;
    }
}